In [20]:
import pandas as pd

In [21]:
df = pd.read_parquet(path='../data/train.parquet', engine='pyarrow')

In [22]:
df.head()

,programevent_id,channel,market,turnover,weekday,period,date,time,participant_a,participant_b
0,33954710,Retail,standard,17795.0,Friday,Evening,2009-09-18,20:30:00,Schalke 04,VfL Wolfsburg
1,33954710,Retail,double-chance,4950.0,Friday,Evening,2009-09-18,20:30:00,Schalke 04,VfL Wolfsburg
2,33954710,Retail,next-point,4211.0,Friday,Evening,2009-09-18,20:30:00,Schalke 04,VfL Wolfsburg
3,33954710,Retail,points-more-less-than,2031.0,Friday,Evening,2009-09-18,20:30:00,Schalke 04,VfL Wolfsburg
4,33954710,Retail,points-more-less-rest,2587.0,Friday,Evening,2009-09-18,20:30:00,Schalke 04,VfL Wolfsburg

In [23]:
features = ['channel', 'market', 'weekday', 'period', 'participant_a', 'participant_b']

In [24]:
df = pd.get_dummies(data=df, prefix='is_', columns=features).drop(labels=['programevent_id', 'date', 'time'], axis=1)

In [25]:
import numpy as np

In [26]:
features = np.delete(arr=df.columns.values, obj=np.where(df.columns.values == 'turnover'))

In [27]:
df.head()

,turnover,is__Online,is__Retail,is__corner-kick-handicap,is__corner-kicks-more-less-rest,is__corner-kicks-more-less-rest-ht,is__corner-kicks-more-less-than,is__correct-score-live,is__custom-place-yes-no,is__custom-point-yes-no,...,is__Hertha BSC,is__Hoffenheim,is__Kaiserslautern,is__RB Leipzig,is__SC Freiburg,is__SC Paderborn,is__Schalke 04,is__VfB Stuttgart,is__VfL Wolfsburg,is__Werder Bremen
0,17795.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,4950.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,4211.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2031.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2587.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [33]:
import random as rand
from sklearn.sklearn import DecisionTreeRegressor

In [29]:
# cross-validation testing
split = rand.uniform(0.60, 0.80)

train_size = int(len(df) * split)

train, test = df[0:train_size], df[train_size:len(df)]

In [30]:
# values of features
X = np.array(train[features].values)

# target values
y = list(train['turnover'])

In [34]:
mdl = DecisionTreeRegressor().fit(X, y)
print(mdl)

# make predictions
pred = mdl.predict(test[features])

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [35]:
from sklearn.metrics import r2_score

# summarize the fit of the model
r2_score(test['turnover'].values, pred)

-0.11173413055624093

In [36]:
from sklearn.metrics import mean_squared_error

rms = mean_squared_error(test['turnover'].values, pred)
rms

610972071.993002

In [30]:
results = pd.DataFrame(data=dict(original=test['turnover'], prediction=pred), index=test.index)

In [31]:
results

       original    prediction
31286   73290.0  71992.000000
31287   11006.0   6536.000000
31288    2856.0   1779.000000
31289    5372.0   5852.333333
31290    2329.0   1764.333333
31291    9137.0  11044.666667
31292   10249.0   6326.000000
31293    1104.0   1730.666667
31294    2633.0   2106.333333
31295    6958.0  12891.000000
31296    6378.0   4704.000000
31297   15257.0  15054.000000
31298    1208.0   1092.000000
31299    5592.0   3705.666667
31300    6524.0  11469.000000
31301    4866.0   5240.333333
31302    1060.0   1102.000000
31303    1483.0   1800.000000
31304   81991.0  77070.000000
31305    3154.0   2215.000000
31306    2936.0   1018.000000
31307    1114.0   1178.000000
31308    1201.0   1102.000000
31309    2281.0   1018.000000
31310    8441.0   5048.000000
31311   64781.0  51628.000000
31312    8623.0  10570.333333
31313    3274.0   2859.333333
31314    1020.0   1115.000000
31315    1893.0   1866.000000
...         ...           ...
46558    2667.0   2822.000000
46559    2452.0   2443.000000
46560    3300.0   3978.000000
46561   12700.0   9546.500000
46562    3854.0   7278.000000
46563    1012.0   1027.000000
46564    3844.0   3964.000000
46565    2434.0   6657.000000
46566    1580.0   2319.000000
46567    2062.0   2547.000000
46568   20512.0  43921.000000
46569   13480.0  13803.000000
46570    1963.0   4224.000000
46571   33063.0  46208.500000
46572   13461.0  12712.000000
46573    1854.0   1177.000000
46574    1940.0   1288.000000
46575   87528.0  93646.500000
46576    5666.0   1710.000000
46577    1748.0   1171.000000
46578   14948.0  30355.000000
46579    2242.0   1390.000000
46580    3918.0   1770.000000
46581    8170.0   6862.000000
46582    2497.0   1439.000000
46583    5632.0   7736.500000
46584    2422.0   1365.000000
46585    2260.0   2251.000000
46586    2870.0   6649.000000
46587    2207.0   3090.000000

[15302 rows x 2 columns]